<div class="view preloader">
    <div class="logo">
        <div>C</div>
        <div>Q</div>
    </div>

    <div class="progress-animation">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
