<div class="tiles-wrapper" data-id="{{id}}">
    <div class="tiles-container">
        <div class="tile first-color" style="{{#if first-color}}background: #{{first-color}};{{/if}}"></div>
        <div class="tile second-color" style="{{#if second-color}}background: #{{second-color}};{{/if}}"></div>
    </div>
</div>
